version: "3.9"

services:
  eureka-server:
    container_name: eureka-server
    build:
      context:  ./service-registry
      dockerfile: Dockerfile
    image: eureka-server:latest
    restart: always
    ports:
      - 8761:8761
    networks:
      - spring-cloud-network
    
  config-server:
    container_name: config-server
    build: 
      context: ./config-server
      dockerfile: Dockerfile
    image: config-server:latest
    restart: always
    ports:
      - 9190:9190
    depends_on:
      - eureka-server
    networks:
      - spring-cloud-network
    
  api-gateway:
    container_name: api-gateway
    build: 
      context: ./api-gateway
      dockerfile: Dockerfile
    image: api-gateway:latest
    restart: always
    ports:
      - 9191:9191
    depends_on:
      - config-server
      - eureka-server
    networks:
      - spring-cloud-network
    
  user-service:
    container_name: user-service
    build: 
      context: ./user-service
      dockerfile: Dockerfile
    image: user-service:latest
    ports:
      - 9291:9291
    depends_on:
      - config-server
      - eureka-server
    networks:
      - spring-cloud-network

  comment-service:
    container_name: comment-service
    build:
      context: ./comment-service
      dockerfile: Dockerfile
    image: comment-service:latest
    ports:
      - 9292:9292
    depends_on:
      - config-server
      - api-gateway
    networks:
      - spring-cloud-network

networks:
  spring-cloud-network:
    driver: bridge