server:
  port: 9192

spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server: 
        git: 
          uri: https://github.com/sachindra-maharjan/config-server
          clone-on-start: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    hostname: eureka-server
